dist: xenial
sudo: false

language: node_js
node_js:
  - "14"

cache:
  directories:
     - ./node_modules

install:
  - npm install

script:
  - npm run-script build

deploy:
  provider: pages
  skip_cleanup: true
  github_token: $GITHUB_TOKEN
  local_dir: dist/angular-github-pages-travis
  on:
    branch: master