
.container-1{
    margin-top: 2vh;
    border: 3px dotted #A40000;
    margin-bottom: 2vh;
}

.card-1{
    text-align: center;
    border: 3px solid #166C9E;
}

.title{
    display: flex;
    justify-content: center;
    margin-top: 2vh;
}

.item{
    margin-top: 2vh;
    margin-left: 1vh;
    margin-right: 1vh;
    
    border: 1px dotted #7c7c7c;
}